.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
  background-color: rgb (255, 255, 255);
}

/*
.btn-secondary{
  background-color: rgb(10, 91, 145);
  border-color: rgb(10, 91, 145);
} */
header {
    padding: 3rem 1.5rem;
}

.center-button {
  text-align: center;
}

ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
h2 {
  text-align: center;
  padding: 1em;
}

h3{
  text-align: center;
}


.babar {
    min-height: 300px;
    background-image: url("../images/york.jpg");
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

.vl {
  border-left: 2px solid;
  height: 500px;
}
